<?xml version="1.0" encoding="UTF-8"?>
<app name="org.onosproject.ovsdb" origin="ONOS Community" version="2.1.1-SNAPSHOT"
        title="OVSDB Southbound Meta" category="Provider" url="http://onosproject.org"
        featuresRepo="mvn:org.onosproject/onos-providers-ovsdb/2.1.1-SNAPSHOT/xml/features"
        features="onos-providers-ovsdb" apps="org.onosproject.ovsdb-base,org.onosproject.ovsdbhostprovider">
    <description>ONOS OVSDB southbound meta application</description>
    <artifact>mvn:org.onosproject/onlab-osgi/2.1.1-SNAPSHOT</artifact>
</app>
